<!DOCTYPE kpartgui>
<kpartgui version="1" name="kopete_webqq_group">
	<MenuBar>
            <Menu noMerge="1" name="file">
                <Action name="WebqqBuzz" />
                <Action name="Webqqimage" />
                <Action name="WebqqShowInfo" />
            </Menu>
	</MenuBar>
	<ToolBar name="statusToolBar">	
            <Action name="WebqqBuzz" />
            <Action name="Webqqimage" />
            <Action name="WebqqShowInfo" />
	</ToolBar>
</kpartgui>
